/CG/build/
/CG/dist/
/ZombieGameOfLife/build/
/ZombieGameOfLife/dist/
/CG/nbproject/private/
/ZombieGameOfLife/nbproject/private/
/ChatP2P/nbproject/private/
/BenchMark/nbproject/private/
/Benchmark/nbproject/private/
/Benchmark/build/
/Benchmark/dist/
/SSLChat/nbproject/private/
/SSLChat/build/
/ChatP2PSSL/nbproject/private/
/ChatP2PSSL/build/